<article id="about" class="py-8 mt-16">
  <div class="flex items-baseline justify-center mb-10">
    <div class="w-16 h-16 rounded-full bg-white flex items-center justify-center">
      <span class="text-orange text-[2.5rem] font-normal">A</span>
    </div>
  
    <h3 class="text-orange text-2xl font-light -ml-[1.1rem]">
      bout Me
    </h3>
  </div>
  
  <div class="flex flex-col md:flex-row bg-white h-[26rem] rounded-lg items-center">
    <div class="w-full md:w-1/2 flex justify-center rounded-l-lg h-full">
      <img
        src="/assets/about-me.jpg"
        alt="about-me"
        class="w-full h-full object-cover rounded-l-lg"
      />
    </div>

    <div class="w-full md:w-1/2 p-5">
      <h3 class="text-xl md:text-2xl font-semibold mb-1  text-blueblack">
        Hello, I'm Yon !
      </h3>
      <div class="h-[1px] w-full bg-blueblack mb-8" />
      <p class="black leading-relaxed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo
        libero a quam malesuada, sed aliquet tortor facilisis. Nullam venenatis,
        nisl sit amet convallis viverra, dui mi tincidunt enim, nec vulputate
        mauris urna et diam. Fusce id eros et justo vestibulum laoreet eget id
        tellus. Suspendisse lacinia nisl et lectus cursus, in rhoncus massa
        tincidunt. Praesent tristique purus in tortor congue, eget commodo enim
        blandit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus commodo
        libero a quam malesuada, sed aliquet tortor facilisis. Nullam venenatis,
        nisl sit amet convallis viverra, dui mi tincidunt enim, nec vulputate
        mauris urna et diam. 
      </p>
    </div>
  </div>
</article>
