<footer class="pb-8">
  <div class="max-w-7xl mt-16 mb-4 flex justify-center space-x-4">
    <a href="https://www.facebook.com">
      <img src="assets/icon_facebook.png" alt="facebook" class="w-7 h-7" />
    </a>  
    <a href="https://www.instagram.com">
      <img src="assets/icon_instagram.png" alt="instagram" class="w-7 h-7" />
    </a>  
    <a href="https://www.twitter.com">
      <img src="assets/icon_twitter.png" alt="twitter" class="w-7 h-7" />
    </a>  
  </div>
  <p class="text-center text-xs font-light text-black">&copy; yon 2025 All Rights Reserved.</p>
</footer>