---
import "../styles/global.css";
import React from 'react';
import Header from '../components/React/Header.jsx';
import Footer from '../components/Footer.astro';
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Yon's Blog - My Ordinary Life" />
  	<meta name="keywords" content="blog, ブログ, Life, Food, Family" />
		<title>Yon's Blog</title>
	</head>
	<body class="bg-gray font-text min-h-screen pt-32">
		<Header currentPath={currentPath} />
		<main class="max-w-7xl mx-auto px-4 md:px-16">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
